<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuecheng.content.mapper.CourseCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xuecheng.content.model.po.CourseCategory">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="label" property="label" />
        <result column="parentid" property="parentid" />
        <result column="is_show" property="isShow" />
        <result column="orderby" property="orderby" />
        <result column="is_leaf" property="isLeaf" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, label, parentid, is_show, orderby, is_leaf
    </sql>

    <resultMap id="selectTreeNodesMap" type="com.xuecheng.content.model.dto.CourseCategoryTreeDto">

        <id column="one_id" property="id"></id>
        <result column="one_name" property="name"></result>
        <result column="one_label" property="label"></result>
        <result column="one_orderby" property="orderby"></result>
        <result column="one_parentid" property="parentid"></result>
        <result column="one_is_leaf" property="isLeaf"></result>

        <!--一对多映射,ofType对应了List中的类型-->
        <collection property="childrenTreeNodes" ofType="com.xuecheng.content.model.dto.CourseCategoryTreeDto">
            <id column="two_id" property="id"></id>
            <result column="two_name" property="name"></result>
            <result column="two_label" property="label"></result>
            <result column="two_orderby" property="orderby"></result>
            <result column="two_parentid" property="parentid"></result>
            <result column="two_is_leaf" property="isLeaf"></result>
        </collection>

    </resultMap>

    <select id="abc" resultType="com.xuecheng.content.model.po.CourseCategory">
        select * from course_category where id=1
    </select>

    <select id="selectTreeNodes" resultMap="selectTreeNodesMap">
        SELECT
            one.id one_id,
            one.NAME one_name,
            one.label one_label,
            one.orderby one_orderby,
            one.parentid one_parentid,
            one.is_leaf one_is_leaf,
            two.id two_id,
            two.NAME two_name,
            two.label two_label,
            two.orderby two_orderby,
            two.parentid two_parentid,
            two.is_leaf two_is_leaf
        FROM
            course_category one
                INNER JOIN course_category two ON one.id = two.parentid
        where one.is_show = '1' and two.is_show='1' and one.parentid='1'
        order by one.orderby,two.orderby

    </select>

</mapper>
